[submodule "html-ppt-skill"]
	path = html-ppt-skill
	url = https://github.com/lewislulu/html-ppt-skill.git
[submodule "humanize-ppt"]
	path = humanize-ppt
	url = https://github.com/LearnPrompt/humanize-ppt.git
